<footer>   
    <div class="footer__cr">  <p>© MiEcommerce. Todos los derechos reservados.</p></div>
    <div class="footer__socials"> 
        <a href="http://www.twitter.com"><img src="/assets/twitter.svg" alt="twitter"></a>
        <a href="http://www.facebook.com"><img src="/assets/facebook.svg" alt="fb"></a> 
        <a href="http://www.instagram.com"><img src="/assets/instagram.svg" alt="ig"></a> 
        <a href="http://www.youtube.com"><img src="/assets/youtube.svg" alt="yt"></a>
    </div>
    <div class="footer__appStores">
        <div class="footer__links">
            <a href="http://www.apple.com"><img src="/assets/apple.svg" alt="apple">
            <p>App Store</p></a>
        </div>
        <div class="footer__links">
            <a href="http://www.google.com"><img src="/assets/google-play.svg" alt="google-play">
            <p>Google Play</p></a>
        </div>
    </div>    
</footer>