<section class="InterestProducts">
  <h1>Te puede interesar</h1>
  <div class="ProductContainer" onclick="redirect()">
    <% for(let i = 15; i <=18; i++){%>
    <article class="ProductCard" id="<%=products[i].id %>">
      <img src="<%=products[i].images[1] %>" />
      <div class="ProductCardSpecification">
        <span><%=products[i].title %></span>
        <div>
          <span><%=products[i].rating.count %></span>
          <span>Puntos</span>
        </div>
      </div>
    </article>
    <% }%>
  </div>
</section>
