.divCartMajor {
    margin: 16px;
}

.back {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000000;

}

.titleCart {
    font-size: 2.4rem;
    margin-top: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
}


.divCartSecond {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.articleCard {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 16px;
    margin-bottom: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
}

.cardInfromation {
    display: flex;
    align-items: center;
    margin-left: 8px;
    font-size: 1.6rem;

}

.cardInfromation p {
    font-size: 1.6rem;
    font-weight: 400;
}

.card__img {
    border-radius: 8px;
    margin-right: 8px;
    margin-top: 8px;
    width: 64px;
    height: 64px;
}

.cardButton {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.cardButton .buttonQuitar {
    width: 76px;
    height: 32px;
    border-radius: 16px;
    border: 0;
    background-color: #494F51;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 400;
}

.cardButton input {
    width: 78px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    text-align: center;
}

.cardButton:first-child{
    border: 1px solid rgba(0, 0, 0, 0.5)
}
.cardButton p {
    font-weight: 700;
    font-size: 2.4rem;
}

.counter{
    width: 78px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
}

.counter button{
    border: 0;    
    background-color: #FFFFFF;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;

}

.counter span{
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 1.6rem;
}



.divPagar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 26px;
}

.divPagar:first-child {
    font-weight: 400;
    font-size: 1.6rem;
}

.divPagar .totalPrice {
    font-weight: 700;
    font-size: 2.4rem;
}
.divButton{
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    margin-bottom: 64px;
}
.divButton button {

    width: 110px;
    height: 32px;
    background: #494F51;
    border-radius: 16px;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 400;
    border: 0;
}

button:hover{
    transition: all 500ms;
    opacity: 0.5;
}