/* NAVBAR */
/* MOBILE */
.article a{
  text-decoration: none;
}
@media (max-width: 451px) {
  .nav-bar {
    margin: 16px;
    display: flex;
    flex-direction: column;
    max-width: 382px;
    width: 90vh;
    min-width: 85%;
    border-radius: 16px;
    background-color: #333333;
  }
  hr {
    display: none;
  }

  .section-nav-bar {
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .article a {
    display: flex;
    flex-wrap: wrap;
    margin: 6px 0px;
  }

  .article h2 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #ffffff;
    margin: 0px 0px 0px 4px;
    padding: 0%;
  }

  .article img {
    width: 16px;
    height: 13.29px;
    margin: 4px;
  }
}

/* NAVBAR DESKTOP */
@media (min-width: 450px) {
  .nav-bar_container {
    display: grid;
    place-items: center;
    width: 100%;
    padding: 0 128px;
  }
  .nav-bar {
    display: flex;
    height: 128px;
    border-radius: 16px;
    background-color: #333333;
    margin: 24px 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1024px;
  }

  .section-nav-bar {
    margin: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .article a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 62px;
    padding: 10px;
    min-width: 48px;
  }

  .article h2 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #ffffff;
    margin: 0px 0px 0px 4px;
    padding: 0%;
  }

  .article img {
    width: 40px;
    height: 40px;
    margin: 4px;
  }

  hr {
    height: 96px;
    right: 8px;
  }
}
