

/* NAVBAR */
@media (min-width: 415px) {
.nav-bar {
        margin: 16px;
        display: flex;
        flex-direction: column;
        max-width: 382px;
        height: 283px;
        border-radius: 16px;
        background-color: #333333;

    }

    .section-nav-bar {
        height: 251px;
        margin: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .article a {
        display: flex;
        flex-wrap: wrap;
        margin: 6px 0px;

    }

    .article h2 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        margin: 0px 0px 0px 4px;
        padding: 0%;
    }

    .article img {
        width: 16px;
        height: 13.29px;
        margin: 4px;
    }


}   

/* NAVBAR */
.nav-bar {
    margin: 16px;
    display: flex;
    max-width:1024px;
    height: 128px;
    border-radius: 16px;
    background-color: #333333;
    margin-left: 128px;
    margin:24px 0px;
    align-items: center;

}

.section-nav-bar {
    margin: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    
}

.article a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 62px;

}

.article h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 0px 0px 0px 4px;
    padding: 0%;
}

.article img {
    width: 40px;
    height: 40px;
    margin: 4px;
}
hr{
    height: 96px;
    right: 8px;
}
