@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("../css/index.css");
/* @import url('../css/head.css'); */
@import url("../css/header.css");
@import url("../css/navbar.css");
@import url("../css/cart.css");
@import url("../css/register.css");
@import url("../css/footer.css");
@import url("../css/product.css");
@import url("../css/navbar.css");
@import url("../css/error.css");
@import url("../css/checkout.css");

html {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: #efefef;
  font-size: 62.5%;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  margin-top: 64px;
}
