<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>
  <body >
    <main class="bodyregister">
    <%- include('../partials/header.ejs', { bigLogo: true, smallLogo: false,
    searchBox: false, cartProfile: false }) %>

    <section class="section-register">
      <div class="background-top">
        <div class="container-formregister">
          <form action="/" class="formregister">
            <h1 class="formregister-title">¡Hola!</h1>
            <div class="formregister-containerInput">
              <input
                type="text"
                class="formregister-input"
                placeholder="Tu nombre de usuario"
                alt="Ingresa tu nombre de usuario"
              />
              <input
                type="password"
                class="formregister-input"
                placeholder="Tu contraseña"
                alt="Ingresa tu contraseña"
              />

              <button
                alt="Iniciar sesion"
                class="formregister-button"
                action="submit"
              >
                Iniciar Sesion
              </button>
            </div>
          </form>
          <div></div>
        </div>
        <div class="container-leyend">
          <p alt="Crear cuenta ">
            ¿No tienes cuenta? <a href="/register"><u>Registrate</u></a>
          </p>
        </div>
      </div>
    </section>
  </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
