<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>
  <body class="bodyregister">
    <div>
      <%- include('../partials/header.ejs', { bigLogo: true, smallLogo: false,
      searchBox: false, cartProfile: false }) %>
    </div>
    <section class="section-register">
      <div class="background-top">
        <div class="container-formregister">
          <form action="/" class="formregister" name="register">
            <h1 class="formregister-title">¡Registrate!</h1>
            <div class="formregister-containerInput">
              <div>
                <ul id="ulNameRegister">
                </ul>
                <input id="nameRegister" type="text" class="formregister-input" placeholder="Tu nombre" required
                  alt="Campo para ingresara nombre" name="nombre"/>
                  <span id="spanNameRegister"></span>
              </div>
              <div>
                <ul id="ulSurnameRegister"></ul>
                <input id="surnameRegister" type="text" class="formregister-input" placeholder="Tu apellido" required name="apellido"
                  alt="Campo para ingresara apellido" />
              </div>
              <div>
                <ul id="ulEmailRegister"></ul>
                <input id="emailRegister" type="email" class="formregister-input" placeholder="Tu email" required name="email"
                  alt="Campo para ingresara correo" />
              </div>
              <div>
                <ul id="ulPass1Register"></ul>
                <input id="passwordRegister" type="password" class="formregister-input" placeholder="Tu nueva contraseña" required
                  alt="Campo para ingresar contraseña" name="password"/>
              </div>
              <div>
                <ul id="ulPass2Register"></ul>
                <input id="passwordRegister2" type="password" class="formregister-input" placeholder="Repite tu contraseña" required
                  maxlength="16" minlength="8" alt="Repite tu contraseña" name="password2"/>
              </div>
              <button id="btnCreate"  disabled="true"  alt="Crear cuenta" class="formregister-button" action="submit">
                Crear Cuenta
              </button >
            </div>
          </form>
          <div></div>
        </div>
        <div class="container-leyend">
          <p alt="Ingresar si ya tienes cuenta ">
            ¿Ya tienes cuenta? <a href="/login"><u>Inicia Sesión</u></a>
          </p>
        </div>
      </div>
      <%- include('../partials/alert') %>
    </section>
    <div><%- include('../partials/footer.ejs') %></div>
    <script src="/js/register.js"></script>
    <script src="/js/validacionRegister.js"></script>

  </body>
</html>
