<div  class="divBloqueo">
    <div class="slideNavbar shadow-drop-center">
      <div class="slideNavbar-profile">
        <img
          id="slideNavbar-profile_img"
          src="/img/Property 1=Default, Text=True.png"
          alt="profile logo"
        />
        <span>Olivia</span>
      </div>
      <hr />
      <div class="slideNavbar-navigation">
        <a class="" href="">Inicio</a>
        <a class="" href="">Mis Compras</a>
        <a class="" href="">Favoritos</a>
        <a class="" href="">Historial</a>
        <hr />
        <a>Cambiar a modo claro</a>
      </div>
    </div>
</div>
</div>