<div class="nav-bar_container">
    <nav class="nav-bar">
        <div class="section-nav-bar">

            <article class="article">
                <a href="/">

                    <img src="/img/navbar-img/1.png" alt="">
                    <h2> Electrónica</h2>
                </a>
            </article>
            <hr>
            <article class="article">
                <a href="/">

                    <img src="/img/navbar-img/2.png" alt="">
                    <h2> Alimentos</h2>
                </a>
            </article>
            <hr>
            <article class="article">
                <a href="/">


                    <img src="/img/navbar-img/3.png" alt="">
                    <h2> Bebidas</h2>
                </a href="/">
            </article>
            <hr>
            <article class="article">
                <a href="/">

                    <img src="/img/navbar-img/4.png" alt="">
                    <h2> Indumentaria</h2>
                </a>
            </article>
            <hr>
            <article class="article">
                <a href="/">

                    <img src="/img/navbar-img/5.png" alt="">
                    <h2> Juegos</h2>
                </a>
            </article>
            <hr>
            <article class="article">
                <a href="/">

                    <img src="/img/navbar-img/6.png" alt="">
                    <h2> Automotor</h2>
                </a>
            </article>
            <hr>
            <article class="article">
                <a href="/">

                    <img src="/img/navbar-img/7.png" alt="">
                    <h2> Hogar</h2>
                </a>
            </article>
            <hr>
            <article class="article">
                <a href="/">

                    <img src="/img/navbar-img/8.png" alt="">
                    <h2> Otros</h2>
                </a>
            </article>
        </div>
    </nav>
</div>