<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />

    <title>Index</title>
  </head>
  <body>
    <section class="ProductHero">
      <div></div>
      <div class="ProductHeroCard">
        <div class="ProductHeroBrandContainer">
          <img src="/assets/disneybrand.png" />
          <span>50% OFF en Combo Plus</span>
          <span>Canjeando 50.000 puntos MiEcommerce.</span>
        </div>
      </div>
      <div class="ProductHeroCard">
        <div class="ProductHeroBrandContainer">
          <img src="/assets/hbobrand.png" />
          <span>50% OFF en Combo Plus</span>
          <span>Canjeando 50.000 puntos MiEcommerce.</span>
        </div>
      </div>
    </section>
    <section class="InterestProducts">
      <h1>Te puede interesar</h1>
      <div class="ProductContainer">
        <% for(let i = 0; i <=4; i++){%>
        <article class="ProductCard" id="<%=products[i].id %>">
          <img src="<%=products[i].images[1] %>" />
          <div class="ProductCardSpecification">
            <span><%=products[i].title %></span>
            <span><%=products[i].rating.count %></span>
            <span>Puntos</span>
          </div>
        </article>
        <% }%>
      </div>
    </section>
    <section>
      <h2>Los mas pedidos</h2>
    </section>
  </body>
</html>
